@import "Färger.css";
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 50px ;
    grid-template-areas: 
    " header header header "
    " main main aside "
    " main2 main2 aside "
    " footer footer footer ";
}
.header{
    grid-area: header;
}
.header ul{
    list-style-type: none;
    width: 100vw;
    
}
.header a{
    justify-content: space-evenly;
    
}


.header li{
    width: 20%;
    list-style-type: none;
    float: left;
    align-content: center;
    height: 11vh;
    background-color: var(--Secundary-color);
    color: var(--primary-color);
    font-size: 160%;
    
    
    
    
}
.header p{
    font-size: 190%;
    
}
.main{
    grid-area: main;
    
}
.aside{
    grid-area: aside;
}
.aside img{
    float: right;
}
.main2{
    grid-area: main2;
    display: none;
}
.footer{
    grid-area: footer;
}
#sidor{
    
    display: none;
}